# Binary files
*.a
*.aps
*.appx
*.appxupload
*.bak
*.db
*.db-shm
*.db-wal
*.dep
*.diff
*.dll
*.efi
*.exe
*.htm
*.idb
*.ipch
*.la
*.lib
*.lo
*.lock
*.log
*.mac
*.mo
*.mp4
*.ncb
*.nope
*.o
*.obj
*.old
*.opendb
*.opt
*.org
*.p7x
*.patch
*.pc
*.pdb
*.pdf
*.plg
*.res
*.sig
*.sdf
*.suo
*.swp
*.tlog
*.user
*.opensdf
*.o_manifest

# Generated build files
.deps
.libs
Makefile
Makefile.in
Makefile.am
aclocal.m4
autom4te.cache
config.cache
config.guess
config.log
config.status
config.sub
depcomp
embedded.loc
config.h
config.h.in

# Visual Studio / IDE
/.vs/
*.vcxproj*
*.vcproj*
*.user
*.suo
*.ncb
*.ipch
*.sdf
*.opensdf

# Localization build artifacts
/res/loc/pollock/.vs
/res/loc/pollock/bin
/res/loc/pollock/obj

# Output directories and release packages
/rufus_files
release/
build/
*.tar.gz
*.tar.xz
*.zip
*.7z
*.pkg.tar.zst
*.deb
*.rpm
*.snap

# Linux build artifacts
src/rufus-linux
src/rufus-qt
src/*.o
src/*.lo
src/*.la
src/*.a
src/*.so

# Generated directories and files
stamp-h1
/.vs/rufus
/arm
/arm64
/x64
/x86
